# OS/IDE
.DS_Store
.vscode/
.idea/

# Env
.env
frontend/.env.local
backend/.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python
backend/.venv/
**/__pycache__/
*.pyc

# Logs
*.log
